<!DOCTYPE HTML>
<html>
    <head> admin </head>
    <body>
        <form action="admin" method="post">
            <p><input type="text" name = "name" placeholder="name"></p>
            <p><input type="text" name = "party" placeholder="party"></p>
            <p><input type="submit" value="submit"></p>
        </form>

        <form action="admin" method="post">
            <p><input type="radio" name="value" value=0> start</p>
            <p><input type="radio" name="value" value=1> end</p>
            <p><input type="submit" value="submit"></p>
        </form>
    </body>
</html>