doctype html
html
    head
    body
        form(action="new_candidate",method="post")
            p
                input(type="text",name="name",placeholder="name")
            p
                input(type="text",name="party",placeholder="party")
            p
                input(type="submit")