<!DOCTYPE HTML>
<html>
    <head>  </head>
    <body>
        <% var _list = JSON.stringify(candidate)
        _list = JSON.parse(_list)
        %> 
        <% for(var i=0;i<_list.length;i++){%>
            <p><li> number <%=_list[i]["idx"]+1%> <%=_list[i]["name"]%> <%=_list[i]["party"]%> <%=_list[i]["vote_num"]%> </li></p>
        <%}%>
    
    </body>
</html>