<% include ../header %>
<% include ./sub_img %>
<% include ./sub_menu %>
        <% var _list = JSON.stringify(object_arr)
        _list = JSON.parse(_list)
        %> 
        <form action="/vote" method="post">
        <% for(var i=0;i<_list.length;i++){%>
            <p><input type="radio" name="idx" value=<%=i%>> <%=_list[i]["name"]%> <%=_list[i]["party"]%> </p>
        <%}%>
        <p><input type="submit" value="submit"></p>
        </form>
<% include ../footer %>